*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.section{
  margin-bottom: 10px;
}
.image{
  display: inline-block;
  border-radius: 5px;
}

.bird-name{
  padding: 5px 5px 10px;
  border-bottom: 1px solid var(--gray);
}
.btn.disabled{
  cursor: auto;
  pointer-events: none;
}
.app{
  display: flex;
  flex-direction: column;
}
